{% extends 'base.html' %}
{% load static %}
{% block body %}
    
    
        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(img/carousel-1.jpg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">All Available Rooms</h6>
                    <h1 class="mb-5 fs-3">The {{object.title}} room has <span class="text-primary text-uppercase"> 4 Available rooms</span></h1>
                </div>

                <div class="col-lg-12">
                    <div class="tab-class wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row">

                            <div class="col-lg-3">
                                <div class="my-5">
                                    <div class="card">
                                        <div class="card-header bg-warning">
                                            <p class="card-title fs-2 text-center border-bottom px-4">Room No.1</p>
                                            <p class="card-text">
                                                <div class=" text-center text-dark p-1 pt-1 mb-3">
                                                    <span class="align-top fs-4 lh-base"></span>
                                                    <span class="align-middle fs-1 lh-sm "> Sea</span>
                                                    <span class="align-bottom fs-6 lh-lg"> View</span>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-title">40.00 $ /per night</p>
                                            <p class="card-title">Beds : 4</p>
                                            <p class="card-title">Room Size : 2</p>
                                            <a href="#" class="btn btn-outline-warning w-100">Add to Selection</a>
                                        </div>
                                        </div>
                                        
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="my-5">
                                    <div class="card">
                                        <div class="card-header bg-warning">
                                            <p class="card-title fs-2 text-center border-bottom px-4">Room No.1</p>
                                            <p class="card-text">
                                                <div class=" text-center text-dark p-1 pt-1 mb-3">
                                                    <span class="align-top fs-4 lh-base"></span>
                                                    <span class="align-middle fs-1 lh-sm "> Road</span>
                                                    <span class="align-bottom fs-6 lh-lg"> View</span>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-title">37.00 $ /per night</p>
                                            <p class="card-title">Beds : 4</p>
                                            <p class="card-title">Room Size : 2</p>
                                            <a href="#" class="btn btn-outline-warning w-100">Add to Selection</a>
                                        </div>
                                        </div>
                                        
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="my-5">
                                    <div class="card">
                                        <div class="card-header bg-warning">
                                            <p class="card-title fs-2 text-center border-bottom px-4">Room No.3</p>
                                            <p class="card-text">
                                                <div class=" text-center text-dark p-1 pt-1 mb-3">
                                                    <span class="align-top fs-4 lh-base"></span>
                                                    <span class="align-middle fs-1 lh-sm ">Main Street</span>
                                                    <span class="align-bottom fs-6 lh-lg"> View</span>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-title">35.00 $ /per night</p>
                                            <p class="card-title">Beds : 4</p>
                                            <p class="card-title">Room Size : 2</p>
                                            <a href="#" class="btn btn-outline-warning w-100">Add to Selection</a>
                                        </div>
                                        </div>
                                        
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="my-5">
                                    <div class="card">
                                        <div class="card-header bg-warning">
                                            <p class="card-title fs-2 text-center border-bottom px-4">Room No.4</p>
                                            <p class="card-text">
                                                <div class=" text-center text-dark p-1 pt-1 mb-3">
                                                    <span class="align-top fs-4 lh-base"></span>
                                                    <span class="align-middle fs-1 lh-sm "> Sea</span>
                                                    <span class="align-bottom fs-6 lh-lg"> View</span>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="card-body text-center">
                                            <p class="card-title">32.00 $ /per night</p>
                                            <p class="card-title">Beds : 4</p>
                                            <p class="card-title">Room Size : 2</p>
                                            <a href="#" class="btn btn-outline-warning w-100">Add to Selection</a>
                                        </div>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row g-5 my-5">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="{% static "img/about-1.jpg" %}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="{% static "img/about-2.jpg" %}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="{% static "img/about-3.jpg" %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="{% static "img/about-4.jpg" %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                                            <label for="name">Your Full Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date3" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" id="checkin" name="checkin" placeholder="Check In" data-target="#date3" data-toggle="datetimepicker" />
                                            <label for="checkin">Check In</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating date" id="date4" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" id="checkout" name="checkout" placeholder="Check Out" data-target="#date4" data-toggle="datetimepicker" />
                                            <label for="checkout">Check Out</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select1" name="adults">
                                                <option value="1">Adult 1</option>
                                                <option value="2">Adult 2</option>
                                                <option value="3">Adult 3</option>
                                            </select>
                                            <label for="select1">Select Adult</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="select2" name="children">
                                                <option value="1">Child 1</option>
                                                <option value="2">Child 2</option>
                                                <option value="3">Child 3</option>
                                            </select>
                                            <label for="select2">Select Child</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Special Request" id="message" name="special_request" style="height: 100px"></textarea>
                                            <label for="message">Special Request</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="" class="btn btn-primary w-25 align-items-center">Go Back To Hotel Details </a>
        </div>
        {% comment %} {% url 'hotel:check_avilabilty' object.slug %} {% endcomment %}

{% endblock body %}