{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'img/carousel-1.jpg' %});">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h6 class="display-3 text-white mb-3 animated slideInDown">Selected Rooms</h6>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                        </ol>
                    </nav> -->
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <div class="container-xxl py-5 rooms-booked ">

            <div class="row mx-5 g-2">
                <div class="col-lg-8">


                    <!-- Pricing Start-->
                    <div class="tab-class wow fadeInUp" data-wow-delay="0.1s">
                        
                        <div class="my-5 ">
                            <div class="py-1 pt-3 px-2" style="background-color: rgb(255, 235, 179);">
                                <p> 
                                    <b class="ms-4 me-3">NOTE!</b>
                                    Review Your Rooms Before Payment 
                                    <i class="fa fa-close" style="margin-left: 400px;"></i>
                                </p>
                            </div>
                            <ul class="list-group w-100 ">
                                <li class="list-group-item py-3 ">
                                    <i class="fa-solid fa-bed fa-xl text-primary me-2"></i>
                                    <span class="fs-5 fw-light">Selected Rooms ({{booking.room.all|length}})</span>
                                </li>
                        
                                {% for item in booking.room.all %} 
                                    <li class="list-group-item  border-bottom">
                                        <h5 class="py-2"> {{item.room_type}} Room</h5>                                       
                                        <div class="row">
                                            <div class="col-9 d-flex">
                                                <p class="ms-3"><b>beds</b> : {{item.beds_num}}</p>
                                                <p class="ms-3"> <b>view</b> : {{item.view}}</p>
                                                <p class="ms-3"> <b>room size</b> : {{item.room_size}} m</p>
                                                <p class="ms-3"> <b>room no.</b> : {{item.room_num}}</p>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="col-2 fs-6 ">
                                                <p class='btn btn-outline-primary'>{{item.price}} $</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %} 
                        
                            </ul>
                        </div>

                    </div>
                    <!-- Pricing End-->


                    <!-- Payment Start -->
                    <div class="bg-white p-4 border border-1 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="my-3 mb-4">
                            <i class=""></i>
                            <i class="fa-solid fa-file-invoice-dollar fa-2xl text-primary me-3"></i>
                            <span class="my-3 fw-light fs-5 ">Billing Information</span>
                        </div>

                        <form method='post' action='{% url "booking:create_booking" %}'>
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" value='{{booking.full_name}}' class="form-control bg-gradient" 
                                        name="full_name" id="name" placeholder="Your Full Name" readonly>
                                        <label for="name">Your Full Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" value='{{booking.email}}' class="form-control bg-gradient" 
                                        name="email" id="email" placeholder="Your Email" readonly>
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        <input type="text" value='{{booking.phone}}' class="form-control bg-gradient" 
                                        name="phone" placeholder="Your Phone" readonly>
                                        <label for="checkin">Your Phone</label>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <button class="btn btn-primary p-2 my-2" type="submit">Continue To Checkout</button>
                                </div>
                            </div>
                        </form>

                    </div> 
                    <!-- Payment End -->
                </div>


                <div class="col-lg-4">
                    <!-- booking Summery -->
                    <div class="container">
                        <div class="bg-white my-5 mx-3 border border-1 rounded rounded-3  wow fadeInUp"  data-wow-delay="0.1s">
                            <div class="card ">
                                <img src="{{booking.hotel.img.url}}" class="card-img " width="370px" height="320px"  alt="...">

                                <div class="card-img-overlay text-white page-header-inner" style="padding-top: 200px;">
                                    <h5 class="text-white">{{booking.hotel.name}}</h5>
                                    <div class="d-flex ms-2 fw-bold ">
                                        <p class="me-3 "><i class="fa fa-map-marker-alt text-primary me-2"></i> {{booking.hotel.address}} </p>
                                        <p class=""><i class="fa fa-phone text-primary me-2"></i> {{booking.hotel.phone}}</p>
                                    </div>
                                    <div class="d-flex ms-2">
                                        <i class="{% if booking.hotel.avg_rating > 0 %} fa fa-star text-primary {% endif %}"></i>
                                        <i class="{% if booking.hotel.avg_rating > 1 %} fa fa-star text-primary {% endif %}"></i>
                                        <i class="{% if booking.hotel.avg_rating > 2 %} fa fa-star text-primary {% endif %}"></i>
                                        <i class="{% if booking.hotel.avg_rating > 3 %} fa fa-star text-primary {% endif %}"></i>
                                        <i class="{% if booking.hotel.avg_rating > 4 %} fa fa-star text-primary {% endif %}"></i>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- <div class="p-5 text-body" style="background-image: url({% static 'img/room-1.jpg' %}); background-repeat: no-repeat; width: 367px; height: 320px;">
                                    <div class="mt-5">
                                        <h6>primum hotel</h6>
                                        <div class="d-flex">
                                            <p>addres: asdscdsv</p>
                                            <p>phone: 01011093980</p>
                                        </div>
                                    </div> 
                                    
                                </div>-->
                            
                            <div class="border-bottom  text-start text-dark p-3  mb-3">
                                <i class="fa-regular fa-calendar-check fa-2xl text-primary me-3"></i>
                                <span class=" fs-5 fw-light">Booking Summery</span>
                            </div>
                            <div class=" pe-4 wow fadeInUp pt-1" data-wow-delay="0.2s" id="booking-summery">
                                <div class="row">
                                    <div class="col-6">
                                        <ul type="none" class="text-start">
                                            <li class="mb-3">Checkin</li>
                                            <li class="mb-3">Checkout</li>
                                            <li class="mb-3">Total Days</li>
                                            <li class="mb-3">Adults</li>
                                            <li class="mb-3">Childern</li>
                                            <li class="mb-3">Before Discount</li>
                                            <li class="mb-3">Money Saved</li>
                                            <hr>
                                            <li class="mb-4 fs-5 text-primary">Total Cost</li>
                                        </ul>
                                    </div>
                                    

                                    <div class="col-6 fs-6 text-end ">
                                        <ul type="none">
                                            <li class="mb-3">{{booking.check_in_date}}</li>
                                            <li class="mb-3">{{booking.check_out_date}}</li>
                                            <li class="mb-3">{{booking.total_days}} Days</li>
                                            <li class="mb-3">{{booking.num_adults}} Adults</li>
                                            <li class="mb-3">{{booking.num_children}} Childern</li>
                                            <li class="mb-3">$ {{ booking.before_discount }}</li>
                                            <li class="mb-3">$ {{ booking.money_saved }}</li>
                                            <hr>
                                            <li class="mb-4 fs-5 text-primary">$ {{booking.total}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <form method="post" class="d-flex ps-4 mb-4" id="check-coupun">
                                    {% csrf_token %}
                                    <input type="text" class="form-control bg-light" placeholder="Have a coupon? Enter here...." id="coupon-code" required>
                                    <button type='submit' class="btn btn-primary py-2 px-4 ms-2" id="apply-coupon"> <small>Apply</small></button>
                                    <input type="hidden" value="{{booking.id}}" id="booking-id">
                                </form>
                                
                                <div class="bg-info d-block py-1 rounded rounded-3 mb-3 ms-4 text-center">
                                    <p class="pt-2">Pay With Strip <i class="fa-solid fa-credit-card ms-2"></i></p>
                                </div>

                                <div class="d-block mb-3 ms-4">
                                     <i id="paypal-button-container"></i>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        

{% endblock body %}


{% block script %}
        <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
        <script>
            let total_cost = '{{booking.total}}'
            let booking_id = '{{booking.id}}'

            paypal.Buttons({

                CreateOrder: function(data, actions){
                    return actions.order.create({
                        purchace_units: [{
                            amount: {
                                value: total_cost
                            }
                        }]
                    })
                },

                OnApprove: function (data, actions){
                    return actions.order.capture().then(function(detail){
                        console.log(detail);
                    })
                },

                style: {
                    layout: 'vertical',
                    color:  'gold',
                    shape:  'rect',
                    label:  'paypal'
                }
                }).render('#paypal-button-container');
        </script>
    
{% endblock script %}

    