
      <!-- Pricing Start-->
      <div class="tab-class rooms-booked">
        <div class="my-5 ">
          <ul class="list-group w-100 ">
            <li class="list-group-item py-3 ">
              <i class="fa-solid fa-bed fa-xl text-primary me-2"></i>
              <span class="fs-5 fw-light">Selected Rooms ({{ selected_rooms|length }})</span>
            </li>
            {% for item in rooms_list %}
              <li class="list-group-item  border-bottom">
                <h5>
                  Room: {{ item.room_type }}
                  <a class="ps-2 fs-5 delete-room"
                     style="cursor: pointer"
                     data-item="{{ item.id }}">
                    <i class="fa fa-trash text-danger ms-2"></i>
                  </a>
                </h5>
                <div class="row">
                  <div class="col-5 d-flex">
                    <p class="py-1 mx-2 ">beds :{{ item.beds_num }}</p>
                    _
                    <p class="py-1 mx-2">view : {{ item.view }}</p>
                  </div>
                  <div class="col-5"></div>
                  <div class="col-2 fs-6 ">
                    <p class='btn btn-outline-primary'>{{ item.price }} $</p>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Pricing End-->
