{% extends 'base.html' %}
{% load static %}
{% block body %}  
    <div class="container my-5">
        <div class="row text-center">
            <h3>sign up</h3>
            <p>hey there create a free account today and very easy </p>
            <div class="col-lg-6 mt-5">
                
                <form class="form-control my-5 bg-white shadow-lg rounded-3"  method="post">

                    {% if form.errors %}
                    <div class="alert alert-danger my-2">
                        <ul type="none">
                        {% for field in form %}
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% csrf_token %}
                    <div class="my-4">
                        {{ form.full_name }}
                    </div>
                    
                    <div class="mb-3">
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.password2 }}
                    </div> 
                    <button class="btn btn-warning w-100 my-2" type="submit">sign up</button>
                </form>
                <p>already have an account <a href="">login</a></p>
            </div>

            <div class="col-lg-6">
                <img src="{% static 'img/sign-up.png' %}" class="img-fluid wow fadeInUp"
                data-wow-delay="0.4s" alt="img">
            </div>
        </div>
    </div>
{% endblock body %}
