{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
    .booking-card {
        background: #fff;
        border-radius: 8px;
        padding: 30px;
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .status-icon {
        width: 90px;
        height: 40px;
        display: inline-block;
        border-radius: 10%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 40px;
    }

    /* Payment status color mapping */
    .status-icon.processing {
        background-color: #ffc107;
    }

    /* Yellow */
    .status-icon.paid {
        background-color: #28a745;
    }

    /* Green */
    .status-icon.failed {
        background-color: #dc3545;
    }

    /* Red */
</style>
{% endblock style %}


{% block body %}
<div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'img/carousel-1.jpg' %})">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Bookings</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <!-- <li class="breadcrumb-item"><a href="#">Pages</a></li> -->
                    <li class="breadcrumb-item text-white active" aria-current="page">Booking List</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>Booking Code</option>
                                <option value="1">Adult 1</option>
                                <option value="2">Adult 2</option>
                                <option value="3">Adult 3</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select">
                                <option selected>Hotel</option>
                                <option value="1">Child 1</option>
                                <option value="2">Child 2</option>
                                <option value="3">Child 3</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" placeholder="Check in"
                                    data-target="#date1" data-toggle="datetimepicker" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="date" id="date2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" placeholder="Check out"
                                    data-target="#date2" data-toggle="datetimepicker" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5" style="margin-bottom:200px">
    <div class="bg-white px-5 py-2 mb-2 d-flex align-items-center justify-content-between">
        <div class="gap-4 d-flex align-items-center">
            <!-- Payment Status Icon -->
            <div class="text-start">
                <p class="m-0 "><strong>Pay Status</strong></p>
            </div>

            <!-- Booking Information -->
            <div class="ms-5">
                <p class="m-0"><strong>Code</strong></p>
            </div>

            <!-- Check-in & Check-out Status -->
            <div class="ps-5 ms-5">
                <strong>User</strong>
            </div>
        </div>

        <div class="gap-3 d-flex align-items-center">
            <!-- Room & Hotel Information -->
            <div class="text-start pe-5 me-5">
                <strong>Hotel</strong><br>
            </div>

            <!-- Check-in & Check-out Status -->
            <div class="text-center me-5">
                <div class="text-"><strong>Check Dates</strong></div>
            </div>

            <!-- Check-in & Check-out Status -->
            <div class="text-center me-5">
                <div class="text-"><strong>people</strong></div>
            </div>

            <!-- Payment & Total Amount -->
            <div class="text-end me-5">
                <p class="m-0 "><strong>Money Saved</strong></p>
            </div>

            <!-- Payment & Total Amount -->
            <div class="text-end me-5">
                <p class="m-0 "><strong>Total</strong></p>
            </div>
            
            <!-- Payment & Total Amount -->
            <div class="text-end me-2">
                <p class="m-0 "><strong>Status</strong></p>
            </div>
        </div>
    </div>
    {% for booking in bookings %}
    <div class="booking-card d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <!-- Payment Status Icon -->
            <div class="status-icon {{ booking.payment_method }}">{{ booking.payment_method }}</div>

            <!-- Booking Information -->
            <div class="ms-3">
                <p class="m-0 fs-4"> <strong>{{ booking.booking_code }}</strong></p>
            </div>

            <!-- Check-in & Check-out Status -->
            <div class="text-center ms-5">
                <span> {{ booking.full_name }}</span><br>
                <span> {{ booking.phone }}</span><br>
                <span> {{ booking.email }}</span>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <!-- Room & Hotel Information -->
            <div class="text-center me-5">
                <span>{{ booking.hotel.name }} hotel</span><br>
                <small class="text-muted">rooms nums:
                    {% for room in booking.room.all %}
                    {{ room.room_num }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
            </div>

            <!-- Check-in & Check-out Status -->
            <div class="text-center me-5">
                <div class="text-primary">{{ booking.check_in_date }}</div>
                <div class="text-danger">{{ booking.check_out_date }}</div>
                <!-- <span>Checked In: {{ booking.check_in|yesno:"Yes,No" }}</span><br>
                <span>Checked Out: {{ booking.check_out|yesno:"Yes,No" }}</span> -->
            </div>
            
            <div class="text-center me-5">
                <div class="">{{ booking.num_adults }} Adults</div>
                <div class="">{{ booking.num_children }} Children</div>
            </div>

            <div class="text-end me-4 ">
                <p class="m-0 text-warning fs-5"><strong>{{ booking.money_saved }} $</strong></p>
            </div>

            <!-- Payment & Total Amount -->
            <div class="text-end">
                <p class="m-0 text-success fs-3"><strong>{{ booking.total }} $</strong></p>
            </div>
            
            
            {% if booking.ended %}
                <div class="btn btn-outline-danger ms-3">Ended</div>
            {% else %}
                <div class="btn btn-outline-success ms-3">Active</div>
            {% endif %}
                
        </div>
    </div>
    {% endfor %}
</div>
<div class="row wow fadeInUp" data-wow-delay="0.1s">
    <div class="col-12">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center m-0">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link rounded-0"
                 href="?page={{ page_obj.previous_page_number }}"
                 aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link rounded-0" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
              </a>
            </li>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link rounded-0"
                 href="?page={{ page_obj.next_page_number }}"
                 aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link rounded-0" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% endblock body %}