
  <div class="row" id="booking-summery">
    <div class="col-6">
      <ul type="none" class="text-start">
        <li class="mb-3">Checkin</li>
        <li class="mb-3">Checkout</li>
        <li class="mb-3">Total Days</li>
        <li class="mb-3">Adults</li>
        <li class="mb-3">Childern</li>
        <li class="mb-3">Before Discount</li>
        <li class="mb-3">Money Saved</li>
        <hr />
        <li class="mb-4 fs-5 text-primary">Total Cost</li>
      </ul>
    </div>
    <div class="col-6 fs-6 text-end ">
      <ul type="none">
        <li class="mb-3">{{ booking.check_in_date }}</li>
        <li class="mb-3">{{ booking.check_out_date }}</li>
        <li class="mb-3">{{ booking.total_days }} Days</li>
        <li class="mb-3">{{ booking.num_adults }} Adults</li>
        <li class="mb-3">{{ booking.num_children }} Childern</li>
        <li class="mb-3">$ {{ booking.before_discount }}</li>
        <li class="mb-3">$ {{ booking.money_saved }}</li>
        <hr />
        <li class="mb-4 fs-5 text-primary">$ {{ booking.total }}</li>
      </ul>
    </div>
  </div>
